.header-login-bg {
  width: 100%;
  min-height: 20vh;
  background-color: #ffffff;
}

.row {
  width: 100%;
}

.mds-logo {
  text-align: center;
  img {
    margin-top: 4px;
    width: 180px;
    height: 110px;
  }
}

.ubs-logo {
  text-align: center;
  img {
    margin-left: 150px;
    margin-top: 10px;
    width: 213px;
    height: 100px;
  }
}
