<div class="header-login-bg">
  <div class="row">
    <div class="col-md-4 col-sm-3 col-md-offset-1 mds-logo">
        <img src="assets/images/logo-prefeitura.jpg">
    </div>
    <div class="col-md-4 col-sm-3 col-md-offset-1 ubs-logo">
      <img src="assets/images/logo-sus.png">
    </div>
  </div>
</div>
