<div class="navBar">
    <div class="row">
      <div class="col-md-2 col-md-offset-2 btn"><p>Teste1</p></div>
      <div class="col-md-2 btn"><p>Teste2</p></div>
      <div class="col-md-2 btn"><p>Teste3</p></div>
      <div class="col-md-2 btn"><p>Teste4</p></div>
    </div>
  </div>
