.content {
  background-image: linear-gradient(to bottom right, #4b83cc, #789dce);
  height: 100vh;
}

.container {
  display: inline;

  .panel {
    margin-top: 3vh;
    margin-bottom: -10px;
    max-height: 470px;
    min-height: 470px;
    max-width: 65vw;
  }
}

.row {
  margin: 0;
  padding: 0;

  input {
    border-radius: 6px;
    font-size: 25px;
    text-align: center;
    width: 35vw;
    height: 7vh;
  }

  .btn {
    height: 7vh;
    background-color: #4b83cc;
    border: 3px solid #7a9fcf;
    p {
      font-size: 20px;
      color: white;
    }
  }
}

.col {
  margin: 0;
  padding: 0;
}

.table {
  display: block;
  height: 335px;
  overflow-y: scroll;
  margin-bottom: 0;
}

table {
  margin-top: 20px;
  max-height: 350px;
  min-height: 350px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

  td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4b83cc;
    color: white;
  }
}
