<div class="navBar">
  <div class="row">
    <div class="col-md-3 btn"><p>Estoque</p></div>
    <div class="col-md-3 btn"><p>Retirada Medicamento</p></div>
    <div class="col-md-3 btn"><p>Teste3</p></div>
    <div class="col-md-3 btn"><p>Teste4</p></div>
  </div>
</div>
