.navBar {
    height: 10vh;
    background-image: linear-gradient(to bottom right, #3272c5, #6793cc);
  
    a {
      display: inline-block;
      color: white;
    }
  
    .btn {
      height: 10vh;
      p {
        margin-top: 1vh;
        font-size: 4vh;
        color: white;
      }
    }
  }
  