<app-header></app-header>
<div class="content-login">
  <div class="row">
    <div class="col-md-2 col-md-offset-1 panel not-employee">
      <div class="row">
        <div class="col-md-10 col-md-offset-1"><br><br><br>
          <h2 class="card-title">Bem vindo ao SGI-UBS <br> Guarulhos</h2>
          <br><br>
          <h4>Se você não é funcionário do sistema único de saúde</h4>
          <h4><a href="https://www.guarulhos.sp.gov.br/categories/saude">clique aqui</a>.</h4>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-md-offset-1">
      <div class="divisory"></div>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 panel">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <br>
              <h3>Faça seu login aqui</h3>
              <br>
              <form [formGroup]="loginForm">
                <div>
                  <label for="doc">
                    Código
                  </label>
                  <br>
                  <input class="form-control" id="pass" type="text" formControlName="codFunc" maxlength="6">
                </div>
                <br>
                <div>
                  <label for="pass">
                    Senha
                  </label><br>
                  <input class="form-control" id="pass" type="password" formControlName="senha" maxlength="20">
                </div>
              </form>
              <h5 *ngIf="formError" style="color: red">Senha inválida, tente novamente</h5><br>
              <div class="botao">
                <button type="button" class="btn btn-primary" (click)="login()">Entrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
