h2, h3, h4 {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.row {
  width: 100%;
  margin-left: 0vw;
}

.content-login {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(to bottom right, #3d76c2, #859fc0);

  .divisory {
    padding: 0;
    margin-top: 15vh;
    margin-left: 5vw;
    width: 2px;
    height: 320px;
    background-color: #b9b8b885;
  }
}

.panel {
  display: flex;
  margin-top: 12vh;
  min-height: 360px;
  width: 330px;
}

.botao {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}
