<div class="content">
  <br><br>
    <app-admin-navbar></app-admin-navbar>
  <div class="container">
    <div class="panel">
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <div class="photo">
            <img src="../../../assets/images/photo.jpg">
          </div>
          <div class="info">
            <h3>{{funcionario.nome}}</h3>
            <h4>#{{funcionario.codFunc}} - {{funcionario.cargo}}</h4>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <div class="data"><br>
            <h2>Dados do funcionário</h2>
          </div>
          <div class="subPanel">
            <div class="panel"><br>
              <ul>
                <li>
                  <p>{{funcionario.endereco}}</p>
                </li>
                <li>
                  <p>{{funcionario.telefone}}</p>
                </li>
                <li>
                  <p>{{funcionario.cpf}}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
