.content {
  background-image: linear-gradient(to bottom right, #4b83cc, #789dce);
  height: 100vh;
}

.container {
  display: inline;

  .panel {
    margin-top: 6vh;
    margin-left: 10vw;
    margin-bottom: -10px;
    max-height: 400px;
    min-height: 400px;
    max-width: 80vw;
  }

  .subPanel {
    .panel {
      background-color: rgb(239, 239, 239);
      margin-top: 3vh;
      margin-left: -2vw;
      max-height: 270px;
      min-height: 270px;
      max-width: 45vw;
    }
  }

  .photo {
    margin-top: 80px;
    text-align: center;
  }

  .info {
    text-align: center;
  }
}
