.navBar {
  height: 10vh;
  background-color: transparent;
  // background-image: linear-gradient(to bottom right, #3272c5, #6793cc);

  a {
    display: inline-block;
    color: white;
  }

  .btn {
    margin-left: 2vw;
    height: 10vh;
    border: 3px solid #7a9fcf;
    p {
      margin-top: 1.2vh;
      font-size: 4vh;
      color: white;
    }
  }

  .row {
    max-width: 100vw !important;
    margin: 0 !important;
  }
}
