<div class="navBar">
  <div class="row">
    <div class="col-md-1 btn" style="margin-left: 10vw" [routerLink]="['/dashboard']">
      <p>Home</p>
    </div>
    <div class="col-md-2 btn" [routerLink]="['/admin/ubs']">
      <p>Unidades</p>
    </div>
    <div class="col-md-2 btn" [routerLink]="['/admin/director']">
      <p>Diretores</p>
    </div>
    <div class="col-md-1 btn" style="margin-left: 25vw" (click)="closeSession()">
      <p>Sair</p>
    </div>
  </div>
</div>
