<div class="content"><br><br>
  <app-admin-navbar></app-admin-navbar>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel">
          <div class="row">
            <div class="col-md-5 col-md-offset-1" style="text-align: center;">
              <div class="form">
                <form [formGroup]="directorForm">
                  <label for="nome">
                    Nome
                  </label>
                  <br>
                  <input class="form-control" id="nome" type="text" formControlName="nome">
                  <br>
                  <label for="unidade">
                    Unidade
                  </label><br>
                  <select class="form-control" formControlName="unidade">
                    <option *ngFor="let ubs of ubsList">
                      {{ubs}}
                    </option>
                  </select>
                  <br>
                  <label for="cpf">
                    CPF
                  </label>
                  <div style="max-width: 130px; margin-left: 4vw">
                    <cpf id="cpf" type="text" formControlName="cpf"></cpf>
                  </div>
                </form><br><br>
                <div class=row>
                  <div class="col-md-3" [routerLink]="['/admin/director']">
                      <div class="botao">
                          <button type="button" class="btn btn-primary">Voltar</button>
                        </div>
                  </div>
                  <div class="col-md-3 col-md-offset-3">
                      <div class="botao">
                          <button type="button" class="btn btn-primary">Cadastrar</button>
                        </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-md-offset-1" style="text-align: center;">
              <div class="uploadPhoto">
                <img src="../../../../../assets/images/avatar-placeholder.png">
                <div class="botao">
                  <button type="button" class="btn btn-primary">Enviar Foto</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
