.content {
  background-image: linear-gradient(to bottom right, #4b83cc, #789dce);
  height: 100vh;
}

.container {
  display: inline;

  .panel {
    margin-top: 11vh;
    margin-bottom: -10px;
    max-height: 350px;
    min-height: 350px;
    max-width: 65vw;
  }

  .form {
    margin-top: 4vh;
  }
}

.row {
  margin: 0;
}

.uploadPhoto {
  margin-top: 11vh;
  img {
    width: 150px;
    height: 150px;
  }

  .botao {
    margin-top: 6vh;
  }
}
