<app-admin *ngIf="funcionario.permissao==='A'"></app-admin>
<app-management *ngIf="funcionario.permissao==='D'"></app-management>
<app-pharmaceutical *ngIf="funcionario.permissao==='F'"></app-pharmaceutical>
<app-attendance *ngIf="funcionario.permissao==='R'"></app-attendance>
