.content {
  background-image: linear-gradient(to bottom right, #4b83cc, #789dce);
  height: 100vh;
}

.container {
  display: inline;

  .panel {
    margin-bottom: -10px;
    max-height: 70px;
    min-height: 70px;

    h3 {
      text-align: center;
      color: rgb(85, 85, 85);
    }
  }

  .row {
    margin-top: 25vh;
    width: 100%;
  }
}
