<div class="content"><br><br>
  <app-admin-navbar></app-admin-navbar>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-2 btn" [routerLink]="['/admin/director/new']">
        <div class="panel">
          <h3>Cadastrar Diretor</h3>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-2 btn" [routerLink]="['/admin/director/manage']">
        <div class="panel">
            <h3>Listar Diretores</h3>
        </div>
      </div>
    </div>
  </div>
</div>
