/* You can add global styles to this file, and also import other style files */

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  margin: 0px;
  padding: 0px;
}
