<div class="content"><br><br>
    <app-admin-navbar></app-admin-navbar>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel">
            <div class="row">
              <div class="col-md-6 col-md-offset-3" style="text-align: center;">
                <div class="form">
                  <form [formGroup]="newUbsForm">
                    <label for="nome">
                      Nome da Unidade
                    </label>
                    <br>
                    <input class="form-control" id="nome" type="text" formControlName="nome">
                    <br>
                    <label for="diretor">
                      Diretor
                    </label><br>
                    <select class="form-control" formControlName="diretor">
                      <option *ngFor="let director of directorList">
                        {{director}}
                      </option>
                    </select>
                    <br>

                  </form><br><br>
                  <div class=row>
                  <div class="col-md-4 col-md-offset-1" [routerLink]="['/admin/ubs']">
                      <div class="botao">
                          <button type="button" class="btn btn-primary">Voltar</button>
                        </div>
                  </div>
                  <div class="col-md-3 col-md-offset-1">
                      <div class="botao">
                          <button type="button" class="btn btn-primary">Cadastrar UBS</button>
                        </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
