<div class="content"><br><br>
  <app-admin-navbar></app-admin-navbar>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel">
          <div class="row">
            <div class="col-md-6" style="margin-top: 2vh; margin-right: 20px">
              <div class="row">
                <div class="col-md-3 col-md-offset-2 btn" [routerLink]="['/admin/ubs']">
                  <p>Voltar</p>
                </div>
                <div class="col-md-4 col-md-offset-3">
                  <input type="text" placeholder="Filtrar por nome da unidade">
                </div>
              </div>
              <table>
                <div>
                  <tr>
                    <th style="min-width: 20vw;">Nome da unidade</th>
                    <th style="min-width: 42vw;">Diretor</th>
                  </tr>
                </div>
                <div class="table">
                  <tr>
                    <td style="min-width: 20vw;">UBS Jardim Tranquilidade</td>
                    <td style="min-width: 28vw;">Jorge Yaqub Boutchakdjian Milagre</td>
                    <td style="min-width: 6.35vw;"><a href="">Editar</a></td>
                    <td style="min-width: 6.35vw;"><a href="">Excluir</a></td>
                  </tr>
                </div>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
